html, body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

/* body {
  background-color: rgb(255, 255, 255);
  width: 100%;
}

main {
  background-color: rgb(255, 255, 255);
  width: 100%;
} */

/*HEADER CONTENT*/
header {
  max-width: 1028px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  font-family: 'Playfair Display SC', serif;
  text-align: center;
  font-size: 1rem;
  position: relative;
}

header h1 {
  font-size: 3rem;
}

/*NAVIGATION CONTENT*/

nav {
  max-width: 1028px;
  margin: auto;
  display: flex;
  justify-content: left;
  border-top: 2px solid black;
}

nav ul li {
  display: inline-block;
  padding: 5px 10px 5px 10px;
}

.nav-button {
  background-color: lightgray;
  color: black;
  font-family: 'Encode Sans', sans-serif;
  font-size: 1rem;
  border: solid black 2px;
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
  text-decoration: none;
} 

h2 {
  font-family: 'Playfair Display SC', serif;
  font-size: 2rem;
}

/*INTRO CONTENT SPACE */

.intro-container {
  max-width: 1028px;
  margin: 0 auto;
  border-top: 2px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.left-intro-container {
  width: 28%;
  /* top: 0px;
  left: 0px; */
}

.left-intro-container img {
  width: 90%;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 220px;
  border: solid black 2px;
  border-radius: 8px;
}

.right-intro-container {
  background-color: lightgray;
  width: 70%;
  text-align: center;
  font-size: 1rem;
  border: solid black 2px;
  border-radius: 8px;
  font-family: 'Encode Sans', sans-serif;
  /* margin-left: 20px; */
}

.right-intro-container p {
  margin-left: 40px;
  margin-right: 40px;
}

.right-intro-container h1 {
  font-family: 'Playfair Display SC', serif;
}

/* Recent BLOGS SPACE */

#recent-blog-header {
  font-family:'Playfair Display SC', serif;
  max-width: 1028px;
  margin: auto;
  text-align: center;
}

.recent-blogs {
  background-color: lightgray;
  text-align: center;
  max-width: 1028px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: black solid 2px;
  border-radius: 8px;
}
.recent-content {
  background-color: white;
  width: 30%;
  min-width: 300px;
  margin: 10px;
  text-align: center;
  border: gray solid 2px;
  border-radius: 8px;
  font-family: 'Encode Sans', sans-serif;
}

.recent-blog-image {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 90%;
  border: solid white 2px;
  border-radius: 8px;
}

/*FOOTER CONTENT*/
footer {
  max-width: 1028px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  font-family: 'Playfair Display SC', serif;
  text-align: center;
  font-size: 1.2rem;
  position: relative;
  height: 50px;
}

.footer-content {
  height: 100%;
} 

/*BLOG POST STYLING*/

.blog-header-container{
  font-family: 'Playfair Display SC', serif;
  max-width: 1028px;
  margin: auto;
  text-align: center;
  border-top: black solid 2px;
  font-size: 1rem;
}

.blog-content-container {
  font-family: 'Encode Sans', sans-serif;
  max-width: 1028px;
  margin: auto;
  border: solid black 2px;
  border-radius: 8px;
  background-color: lightgrey;
  padding: 10px;
}

.blog-image {
  max-width: 700px;
  border: solid black 2px;
  border-radius: 2px;
  margin: 0 auto;
}

.flex-photo-container {
  /* background-color: lightgray; */
  text-align: center;
  max-width: 1028px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

table {
  border: 1px solid black;
}

th, td {
  padding: 5px 20px 5px 20px;
  border: solid black 0.5px;
  font-size: .8rem;
}

/*Learning plan table*/
#learning-plan-table {
  margin: 0 auto;
}


@media (max-width: 767px) { /* for mobile devices */
  .intro-container {
    width: 100%; /* set the width to 100% for mobile devices */
  }
  .left-intro-container, .right-intro-container {
    width: 100%;
  }
  .left-intro-container img {
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
  }
  #learning-plan-table {
  margin: 0 auto;
  width: 100%;
  }
  .blog-image {
    max-width: 100%;
    align-items: center;
  }
}